<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span>, Room: <span id="room-id">null</span></h2>
    <p>Scegli la stanza:</p>

    <button type="button" id="room1">Stanza 1</button>
    <button type="button" id="room2">Stanza 2</button>
    <button type="button" id="room3" style="margin-bottom: 1rem;">Stanza 3</button>
    
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script src="../static/chat.js"></script>
</body>
</html>